*{
  margin: 0;
  padding: 0;
}

.sorter {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sorter > h1 {
  font-size: 20px;
  margin-right: 10px;
}

.sorter > select {
  width: 20%;
  height: 30px;
  color: rgb(60, 60, 236);
  border: 2px solid lightgrey;
  min-width: 81px;
  font-weight: 750;

}

.adder {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
}

.adder > form > input{
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid lightgrey;
    outline: none;
    padding-left: 3px;
}

.adder > form > button {
  padding: 5px;
  margin-left: 5px;
  background-color: #3C5898;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

.userCards {
  display: flex;
  flex: 0 0 33.333333%;
  flex-flow: row wrap;
  justify-content: center;
}
